body {
    background-image: url('bg-img.jpg');
    background-color: #8fa5a1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    /* font-family: sans-serif; */
    font-family: "Old Standard TT", serif;
}

#status-bar {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #8fa5a1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#days {
    font-size: 8.5em;
    margin: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#weeks {
    font-size: 5em;
    margin: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#months {
    font-size: 4em;
    margin: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}